.DS_Store
future/
*.vscode*
*Debug+Asserts*
llvm-fun-install/
llvm-fun/config.log
llvm-fun/config.status
llvm-fun/configure.out
llvm-fun/Makefile.common
llvm-fun/Makefile.llvm.config
*.ll*
*.prof*
*.s*
*clang+llvm-3.5.0*